@use '../variables' as *;

@mixin styles {
    .chat {
        background: hsla(var(--chat-background));
        display: flex;
        flex: 1;
        min-width: 0;
        min-height: 0;
        padding: 0.25rem;
        position: relative;

        h2 {
            background: hsla(var(--chat-background));
            padding: 0.5rem;
            position: sticky;
            top: 0;
            z-index: 1;

            input {
                background: transparent;
                border: transparent;
                font-size: 1.5rem;
            }

            .actions {
                position: absolute;
                right: 0;
                top: 0;
                font-size: 0.75rem;

                button {
                    height: 2rem;
                    width: 2rem;
                    line-height: 2rem;
                    display: inline-block;
                    position: relative;

                    span {
                        position: absolute;
                        right: -0.5rem;
                        bottom: -0.5rem;
                        border-radius: 50%;
                        background: hsla(var(--assistant-content) / 0.5);
                        border: 1px solid hsla(var(--placeholder-text) / 0.5);
                        color: hsla(var(--placeholder-text), 0.5);
                        width: 1rem;
                        height: 1rem;
                        line-height: 1rem;
                        font-size: 0.75rem;
                        margin: 0;
                        padding: 0;
                    }
                }

                i {
                    margin-right: auto;
                }
            }
        }

        .conversation {
            flex: 1;
            display: flex;
            flex-direction: column;
            min-height: 0;
            padding-right: 0.5rem;
            overflow: auto;
            user-select: all;
            scrollbar-color: hsla(var(--assistant-content) / 0.3) hsl(var(--user-content));

            pre, code {
                overflow-x: auto;  // Allow horizontal scroll for code
                white-space: pre-wrap;  // Allow wrapping on white space
                word-break: break-word;  // Break words that are too long
            }
        }
    }
}