@use '../themes' as *;

@mixin styles {
    .sidebar {
        display: flex;
        flex: 0 0 300px;
        flex-direction: column;
        min-height: 0;
        overflow-y: auto;
        padding: 1rem;
        color: var(--color);

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                display: flex; // Add this to make children align horizontally
                align-items: center; // Vertically center the content
                justify-content: space-between; // Space between link and icon

                &.active {
                    background: hsla(var(--assistant-content) / .25);
                }

                a {
                    flex: 1; // Allow link to take up remaining space
                    padding: 0.5rem;
                    border: 1px solid transparent;
                    color: inherit;
                    text-decoration: none;

                    &:hover {
                        border: 1px solid hsla(var(--assistant-content) / .5);
                    }
                }

                i.delete {
                    padding: 0.5rem;
                    cursor: pointer;

                    &:hover {
                        color: hsla(var(--assistant-content) / .8);
                    }
                }
            }
        }

        button {
            bottom: 0;
            margin: auto auto 0;
            width: 95%;
        }
    }
}
