<aside>
    <ul>
    {{#each . as | chat | }}
        <li class="{{#if active}}active{{/if}}">
            <a data-user-id="{{ chat.userId }}" data-id="{{ chat.id }}" data-action="load">
                {{ chat.title }}
                <span>({{ chat.messages }})</span>
            </a>
        </li>
    {{/each}}
    </ul>
    <button data-action="new">
        <i class="fa fa-comment"></i>
        <span>New Conversation</span>
    </button>
</aside>
