$chat-background: 210 33% 97%;
$user-content: 0 0% 100%;
$assistant-content: 220 100% 94%;
$placeholder-text: 0 0% 0%;
$content-border: 0 0% 50%;

$transition-standard: 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
$transition-quick: 0.2s ease;

$message-padding: 0.5em;
$message-border-radius: 0.5em;

$input-min-height: 4rem;
$input-max-height: 10rem;
